<form action="/admin/category/new" method="post">
    <label for="name">Name: </label>
       <input type="text" id="name" name="name" placeholder="Name categary" class="form-control"><br>
    <label for="slug">Slug: </label>
        <input type="text" id="slug" name="slug" placeholder="Name slug" class="form-control"><br>
    <button type="submit" class="btn btn-success">Create category</button>
</form>